.footer {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #EAECF0;
    padding-top: 30px;
}

.footer p {
    color: #667085;
}

@media screen and (max-width: 900px) {
    .footer_images {
        height: 25px;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }

}