.form_modal {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  background-color: green;
  padding: 20px 10px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.contact_container {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}

.contact_container h1 {
  margin-bottom: 15px;
}

.contact_container p {
  color: #475467;
}

.contact_form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_form label {
  display: block;
  margin-bottom: 10px;
  color: #344054;
  font-size: 14px;
}

.contact_form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d0d5dd;
  border-radius: 5px;
}

.contact_form input:focus {
  outline: 1px solid rgba(132, 202, 255, 1);
}

.form_message textarea {
  width: 100%;
  height: 200px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #d0d5dd;
  padding: 10px;
  font-family: inherit;
}

.form_message textarea:focus {
  outline: 1px solid rgba(132, 202, 255, 1);
}

.form_message p {
  margin-top: 3px;
  font-size: 14px;
  color: red;
}

.form_names {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form_names div {
  width: 45%;
}

.form_confirm {
  display: flex;
  gap: 10px;
  align-items: center;
}

.form_confirm input {
  height: 15px;
  width: 15px;
}

.form_confirm p {
  color: #344054;
}

.contact_form button {
  background-color: #1570ef;
  cursor: pointer;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .contact_container {
    width: 85%;
  }

  .form_names {
    flex-direction: column;
  }

  .form_names div {
    width: 100%;
  }

  .form_confirm {
    align-items: flex-start;
  }

  .form_confirm input {
    height: 20px;
    width: 20px;
  }
}
