.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}


.link__btn {
    background-color: #EAECF0;
    width: 95%;
    padding: 20px 0;
    display: grid;
    place-items: center;
    border-radius: 10px;
}

.logos {
    margin-top: 20px;
}

.logos > a {
    margin: 0 15px;
}